/* - - - - - - - - - - - - - - - - - - - - -

 Title : Example Custom CSS : DinoMaster!
 URL : http://wufoo.com

 Last Updated : April 1, 2011

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */
/* - - - Default - - - */
/* Logo */

* html #logo a {
    background-image: none;
}
/* Backgrounds */

html {
    background-image: none !important;
    background-color: transparent !important;
}

#errorMsg b{
  background-color: transparent !important;
  padding: 0px !important;
  color: inherit !important;
}

#errorMsg{
color: #FFF !important;
}

#header {
    display: none;
}

form li{
	padding: 0px;
}

#logo {
    background-image: none;
    background-color: #669900
}

#container {
    background: transparent;
    border: none;
}

.wufoo input.text,
.wufoo textarea.textarea {
    resize:none;
}

form li.error{
    background: transparent !important;
}

.wufoo .focused {
    background: transparent !important;
}

.wufoo .instruct {
    background-color: #F5F5F5
}
/* Borders */

.wufoo .info {
    border-bottom: 1px dotted #CCCCCC
}

form li div span {
    margin: 4px;
}

.wufoo .instruct {
    border: 1px solid #e6e6e6
}
/* Typography */

.wufoo .info h2 {
    font-size: 160%;
    font-family: inherit;
    color: #000000
}

.wufoo .info div {
    font-size: 95%;
    font-family: inherit;
    color: #444444
}

.wufoo .section h3 {
    font-size: 110%;
    font-family: inherit;
}

.wufoo .section div {
    font-size: 85%;
    font-family: inherit;
    color: #444444
}

#errorLi{
	background-color: rgba(220, 0, 0, 1) !important;
  border: none;
  border-radius: 0px !important;
  margin: 0px;
}

#errorMsgLbl{
	color: #FFFFFF !important;
}

form span.req{
	  color: inherit !important;
}

form li.error .desc{
	  color: rgb(6, 83, 143) !important;
}

.wufoo label.desc,
.wufoo legend.desc {
  font-size: 16px !important;
  font-family: inherit;
  color: #06538F !important;
}

.wufoo li {
    width: 100%;
    padding: 9px 0px;
}

.wufoo li div,
.wufoo li div label,
.wufoo li span label {
    font-family: inherit;
    color: #444444
}

.wufoo input.text,
.wufoo textarea.textarea,
.wufoo select.select,
.wufoo label.choice {
    border: none;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(228, 236, 242);
}

.wufoo label.choice {
    color: #444444
}

.wufoo .instruct {
    font-size: 80%;
    font-family: inherit;
    color: #444444
}

input.submit {
    background-color: #005BA1;
    color: rgb(225, 242, 255);
    border: none;
    padding: 8px;
    cursor: pointer;
}
